.slider-enter-active
  transition all 0.3s ease-out
  transition-delay: 0.3s
.slider-leave-active
  transition all 0.3s ease-out
.slider-enter, .slider-leave-to
  max-height 0
  opacity 0
.slider-enter-to, .slider-leave
  max-height 380px
  opacity 1

.slider-top-enter-active, .slider-top-leave-active
  transition all 0.3s
.slider-top-enter, .slider-top-leave-to
  opacity 0
  transform translate(0, -100%)

.fade-enter-active, .fade-leave-active
  transition opacity 0.5s
.fade-enter, .fade-leave-to
  opacity 0
.fade-enter-to, .fade-leave
  opacity 1